Source: winevt-kb
Section: python
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), python-all (>= 2.7~), python-setuptools, python3-all (>= 3.4~), python3-setuptools
Standards-Version: 3.9.5
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4
Homepage: https://github.com/libyal/winevt-kb

Package: python-winevtrc
Architecture: all
Depends: libbde-python (>= 20140531), libevt-python (>= 20120410), libevtx-python (>= 20141112), libewf-python (>= 20131210), libexe-python (>= 20131229), libfsapfs-python (>= 20181205), libfsntfs-python (>= 20151130), libfvde-python (>= 20160719), libfwnt-python (>= 20160418), libqcow-python (>= 20131204), libregf-python (>= 20150315), libsigscan-python (>= 20150627), libsmdev-python (>= 20140529), libsmraw-python (>= 20140612), libvhdi-python (>= 20131210), libvmdk-python (>= 20140421), libvshadow-python (>= 20160109), libvslvm-python (>= 20160109), libwrc-python (>= 20140128), python-backports.lzma, python-crypto (>= 2.6.0), python-dfdatetime (>= 20160814), python-dfvfs (>= 20181202), python-dfwinreg (>= 20170301), python-dtfabric (>= 20170524), python-pysqlite2, python-pytsk3 (>= 20160721), python-six (>= 1.1.0), ${python:Depends}, ${misc:Depends}
Description: Python 2 module of Windows Event Log resources (winevtrc)
 winevtrc is a Python module part of winevt-kb to allow easy reuse of
 the Windows Event Log resource extraction and database functionality.

Package: python3-winevtrc
Architecture: all
Depends: libbde-python3 (>= 20140531), libevt-python3 (>= 20120410), libevtx-python3 (>= 20141112), libewf-python3 (>= 20131210), libexe-python3 (>= 20131229), libfsapfs-python3 (>= 20181205), libfsntfs-python3 (>= 20151130), libfvde-python3 (>= 20160719), libfwnt-python3 (>= 20160418), libqcow-python3 (>= 20131204), libregf-python3 (>= 20150315), libsigscan-python3 (>= 20150627), libsmdev-python3 (>= 20140529), libsmraw-python3 (>= 20140612), libvhdi-python3 (>= 20131210), libvmdk-python3 (>= 20140421), libvshadow-python3 (>= 20160109), libvslvm-python3 (>= 20160109), libwrc-python3 (>= 20140128), python3-crypto (>= 2.6.0), python3-dfdatetime (>= 20160814), python3-dfvfs (>= 20181202), python3-dfwinreg (>= 20170301), python3-dtfabric (>= 20170524), python3-pytsk3 (>= 20160721), python3-six (>= 1.1.0), ${python3:Depends}, ${misc:Depends}
Description: Python 3 module of Windows Event Log resources (winevtrc)
 winevtrc is a Python module part of winevt-kb to allow easy reuse of
 the Windows Event Log resource extraction and database functionality.

Package: winevt-kb-tools
Architecture: all
Depends: python-winevtrc, python (>= 2.7~), ${python:Depends}, ${misc:Depends}
Description: Tools for Windows Event Log knowledge base (winevt-kb)
 Winevt-kb is a project to build a Windows Event Log knowledge base.
